<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Juicer</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='juicer.css') }}"/>
    </head>
    <body>
        <h1>Juicer - ejuice nicotine mixing calculator</h1>
        <form method="post" action="{{ url_for('operation_result') }}" id="calculator_form">
            <label for="Input1">Amount to make: </label>
            <input type="text" name="Input1" id="Input1">
            <br/>
            <label for="Input2">Current nicotine base: </label>
            <input type="Input2" name="Input2" id="Input2">
            <br/>
            <label for="Input3">Nicotine base used: </label>
            <input type="Input3" name="Input3" id="Input3">
            <br/>
            <label for="Input4">Target nicotine strength: </label>
            <input type="Input4" name="Input4" id="Input4">
            <br/>
            <input type="submit" value="Submit"/>
            <input type="reset" value="RESET" style="color: red;"/>
        </form>
          {% if calculation_success == True %}
         <br/>
         <p>The calculation for <br>
             {{input1}}ml bottle <br>
             {{input2}}mg current nicotine strength <br>
             {{input3}}mg nicotine base strength <br>
             {{input4}}mg target nicotine strength <br>
             is: <b>{{result}}</b></p>
          {% endif %} 
          {% if calculation_success == False %}
         <br/>
         <p>{{error}}</p>
         <p>{{input1}} {{input2}} {{input3}} {{input4}} = "{{result}}"</p>
          {% endif %} 
    </body>
</html>